# dependencies
/node_modules

/src
/scripts
/example
/coverage


rollup.config.js
yarn.lock

.prettierrc
.babelrc
.editorconfig
.eslintrc
.gitignore
.travis.yml

*.tgz
*.sh

webpack.config.js
.babelrc.js
